---
layout: default
---
{% assign prep = page.preposition | default: "in" %}
{% assign all = site.activities | where: "city", page.slug %}
{% assign cityname = page.city_title | default: page.title %}


{% if page.lede %}
<p class="lede">{{ page.lede }}</p>
{% else %}
<p class="lede">Family activities {{ prep }} {{ cityname }}.</p>
{% endif %}

{% assign present = all | map: "categories" | join: "," | split: "," | uniq %}
{% assign ordered = site.data.categories %}

<h2 id="all">All activities {{ prep }} {{ page.city_title | default: page.title }}</h2>
<ol>
  {% for a in all %}
    <li><a href="{{ a.url | relative_url }}">{{ a.title }}</a> <small>· {{ a.categories | join: ", " }}</small></li>
  {% endfor %}
</ol>




